.icon-container {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #e35c9c, $alpha: 0.2);
}
.mx-card {
  border-radius: 18px !important;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  mat-icon {
    margin-inline-end: 0;
    margin-inline-start: 5px;
  }
}

::ng-deep .mat-mdc-text-field-wrapper {
  max-width: 150px;
}

::ng-deep .mat-mdc-form-field {
  max-width: 150px;
}

:host ::ng-deep .mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 20px;
}
