<div class="container">
  <h2 class="title primary mt-5">المستخدمون</h2>
  <div class="mx-card p-3">
    <div
      class="d-flex flex-row-reverse justify-content-between px-3 cursor-pointer"
      (click)="toggleFilter()"
    >
      <h3>فلتر</h3>
      <mat-icon class="mt-2">{{
        isFilterExpanded ? "expand_less" : "expand_more"
      }}</mat-icon>
    </div>
    <div
      class="card-body"
      [@expandCollapse]="isFilterExpanded ? 'expanded' : 'collapsed'"
    >
      <app-filter></app-filter>
    </div>
  </div>

  <app-employees-table></app-employees-table>
</div>
